@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    overflow: hidden;
    background: url('/assets/images/people.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 50px;
    background-color: #0000ff;
    color: white;
}

.game-area {
    padding-top: 5rem;
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-bottom: 5rem;
}

.btn {
    background-color: #0000ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
